#gameborad{
    width : 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}
.square{
    height: 40px;
    width: 40px;
    position: relative;
}
.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;

}
path{
    position: relative;
    z-index: -10;

}
.piece{
    position: relative;
    z-index: 9;
}
.beige{
    background-color: rgb(99, 79, 125);
}
.brown{
    background-color: rgb(118, 117, 121);
}
/* 
* bcoz it's a svg we should use fill
*/
.black{
    fill: #e8e0d8  ;
}
.white{
    fill : rgb(42, 40, 40)  ;
}